# @package _global_

# default parameters for MVAE model
model_name: "me_mVAE"

model:
  beta: 1
  join_type: "PoE"  # TODO: test MeanRepresentation

  sparse: False

encoder:
  default:
    _target_: multiviewae.architectures.mlp.VariationalEncoder

    non_linear: False

    enc_dist:
      _target_: multiviewae.base.distributions.Normal

decoder:
  default:
    _target_: multiviewae.architectures.mlp.VariationalDecoder

    non_linear: False
    init_logvar: -3

    dec_dist:
      _target_: multiviewae.base.distributions.Normal
