# @package _global_

# default parameters for MVAE model
model_name: "mVAE"

model:
  beta: 1
  join_type: "PoE" 
  sparse: False
  threshold: 0.2
  warmup: 10
  use_prior: True
  weight_ll: False

encoder:
  default:
    _target_: multiviewae.architectures.mlp.VariationalEncoder

    non_linear: False

    enc_dist:
      _target_: multiviewae.base.distributions.Normal

decoder:
  default:
    _target_: multiviewae.architectures.mlp.VariationalDecoder

    non_linear: False
    init_logvar: -3

    dec_dist:
      _target_: multiviewae.base.distributions.Normal
