.. -*- mode: rst -*-

{% for hdr in data %}
{% if hdr in ["model_name"] %}
{% elif hdr in ["encoder", "decoder"] %}
- {{ hdr }} 
{% for item in data[hdr] %}
    - {{ item }}
{% for item2 in data[hdr][item] %}
{% if item2 in ["enc_dist", "dec_dist"] %}
        - {{ item2 }}
{% for item3 in data[hdr][item][item2] %}
            - {{ item3 }} : {{ data[hdr][item][item2][item3] }}
{% endfor %}
{% else %}
        - {{ item2 }} : {{ data[hdr][item][item2] }}
{% endif %}
{% endfor %}
{% endfor %}
{% else %}
- {{ hdr }} 
{% for item in data[hdr] %}
    - {{ item }} : {{ data[hdr][item] }}
{% endfor %}
{% endif %}
{% endfor %}