.. -*- mode: rst -*-

{% set ls = data.scandir("../multiviewae/configs/model_type") %}
{% for item in ls|sort(attribute="name") %}
{{ data.path.splitext(item.name)[0] }}
---------------
.. datatemplate:yaml:: ../../../multiviewae/configs/model_type/{{ item.name }}
   :template: model_params.tmpl
{% endfor %}